@font-face {
    font-family: Unbounded;
    src: url(../fonts/Unbounded-Bold.ttf)
    format(truetype);
    font-weight: 700;
    font-style: normal;
    font-display: swap;

}


* {

    margin: 0;
    padding: 0;
}

h1{
    font-size: 54px;
    font-family: Unbounded, sans-serif;
    color: #000000;
    text-align: center;
    margin-top: 60px;

}

span{
    color: #9747ff;
}

p{
    font-size: 20px;
    font-family: poppins, sans-serif;
    color: #232323;
    text-align: center;
    width: 792px;
    margin: 24px auto 0;
}

body{
    background-color: light;
}

a{
    font-size: 20px;
    font-family: poppins, sans-serif;
    color: #ffffff;
    background-color: #9747ff;
    text-decoration: none;
    width: 251px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;

}

a:hover{

    background-color: #8233e8;

}

section img{
    display: block;
    margin: 40px auto;
    width: 792px;
    height: 446px;
}

header img{
    margin: 75px 0 0 360px;
}

@media(max-width: 768px){

    header img{
        margin: 65px 0 0 60px;
    }

    p{
        width: 648px;
    }

}
